<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><Project Farid Ferdi Nabil></h1>
    <p>Welcome to our project></p>
  </body>
</html>
